pkgbase = gitbutler-appimage
	pkgdesc = A Git client for simultaneous branches on top of your existing workflow
	pkgver = 0.16.7
	pkgrel = 1
	url = https://gitbutler.com
	install = gitbutler-appimage.install
	arch = x86_64
	license = custom
	depends = fuse2
	depends = gtk3
	depends = webkit2gtk
	optdepends = git: For Git operations
	provides = gitbutler
	conflicts = gitbutler
	conflicts = gitbutler-bin
	source = https://releases.gitbutler.com/releases/release/0.16.7-2433/linux/x86_64/GitButler_0.16.7_amd64.AppImage.tar.gz
	sha256sums = SKIP

pkgname = gitbutler-appimage
